* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.4; /* Algemene ruimte tussen teksten voor betere leesbaarheid */
}

/* Zet de container in het midden */
main {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}

.article-container {
  display: grid;
  gap: 2rem;
  padding-top: 2rem;

  grid-template-columns: 1fr; /* Op mobiel 1 colom */

  @media (min-width: 678px) {
    grid-template-columns: 1fr 1fr; /* Op tablet 2 colommen */
  }

  @media (min-width: 1100px) {
    grid-template-columns: 1fr 1fr 1fr; /* Op desktop 3 colommen */
  }
}

.article {
  max-width: 300px;

  a {
    text-decoration: none;
  }
}

/* Zorgt voor de zoom van de image als je over hovert */
.image-container {
  overflow: hidden;

  img {
    width: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
    display: block;
  }

  img:hover {
    transform: scale(1.1);
  }
}

.preview-article-title {
  font-size: 1rem;
  color: var(--donkerblauw);
  margin: 0;
}

.preview-article-title:hover {
  text-decoration: underline;
  text-decoration-color: var(--donkerblauw);
}

/* Zet de nieuws header op de goede plek voor elke grid-layout */
h2 {
  font-size: 1.5rem;
  color: var(--donkerblauw);

  @media (min-width: 678px) {
    grid-area: 1 / 1 / 2 / 3;
  }

  @media (min-width: 1100px) {
    grid-area: 1 / 1 / 2 / 4;
  }
}
